.Header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  border: 2px solid blue;
}

.Nav {
border: 2px solid red;
}

.topicsButton {
  font-size: 20px
}

.ArticleList {
  border: 2px solid yellow
}

.articleCard {
  border: 2px solid green
}

.sort {
  border:2px solid orange
}

.form {
  font-size: 20px
}

.singleArticle {
  border: 2px solid purple
}

.commentsList {
  border: 2px solid yellow
}

.commentCard {
  border: 2px solid lightblue
}

.commentForm {
  border: 2px solid orange
}

.commentInput{
  width: 90vw;
  height:10vw
}

.deleteButton {
  float:right;
  font-size: 20px;
  border: 2px solid orange
}

.voteForm {
  display: flex;
  justify-content: flex-end;
  border: 2px solid purple
}

.voteButton {float:right;
  font-size: 20px
}

