.Header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  border: 2px solid blue
}

.Nav {
display: flex;
justify-content: center;
border: 2px solid red;

}

.topicsButton {
  font-size: 20px
}

.ArticleList {
  border: 2px solid yellow
}

.articleCard {
  border: 2px solid green
}

.sort {
  border:2px solid purple;
  
}

.form {
  font-size: 20px
}


