@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:regular,bold,italic&subset=latin,latin-ext");

.App {
  border: 2px solid darkblue;
  font-family: "Open Sans", sans-serif;
}

.Header {
  font-family: "roboto", serif;
  display: flex;
  justify-content: center;
  font-size: 40px;
  border: 2px solid blue;
}

.Nav {
  border: 2px solid red;
}

.TopicsButtons {
  border: 2px solid blue;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.TopicsButton {
  font-family: "roboto", serif;
  font-size: 4vw;
  width: 24.5vw;
  border: 1px solid black;
}

.ArticleList {
  border: 2px solid yellow;
}

.ArticleCard {
  border: 2px solid green;
  padding: 10px;
}

.Sort {
  border: 2px solid orange;
}

.Form {
  font-size: 20px;
}

.SingleArticle {
  border: 2px solid purple;
  padding: 10px;
}

.CommentsList {
  border: 2px solid yellow;
}

.CommentCard {
  border: 2px solid lightblue;
  padding: 10px;
}

.CommentForm {
  border: 2px solid orange;
}

.CommentInput {
  width: 90vw;
  height: 10vw;
}

.DeleteButton {
  font-family: "Open Sans", sans-serif;
  float: right;
  font-size: 20px;
  border: 2px solid orange;
}

.VoteForm {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: flex-end;
  border: 2px solid purple;
}

.VoteButton {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  float: right;
  font-size: 20px;
}

.DisplayVotes {
  margin: 10px;
  font-size: 20px;
}

.UserMessage {
  font-family: "roboto", serif;

  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 40px;
}
