@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:regular,bold,italic&subset=latin,latin-ext");

.App {
  font-family: "Open Sans", sans-serif;
}

.Header {
  font-family: "roboto", serif;
  display: flex;
  text-align: center;
  font-size: calc(50px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  background-color: #274472;
  color: white;
}

.Nav {
  background: #c3e0e5;
}

.UserDisplay {
  margin: 10px 0px;
  color: black;
}
.TopicsButtonsContainer {
  background-color: #f0f0f0;
  width: 100vw;
}
.TopicsButton {
  background-color: #f0f0f0;
  width: 100vw;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin-top: 8px;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  width: 25%;
  border: none;
  transition: all 0.4s ease 0s;
}

.TopicsButton:focus {
  text-decoration: none;
  border-top: 8px solid #41729f;
  outline: none;
}

.ArticleCard {
  padding: 15px;
  background: #f0f0f0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #222;
  margin-bottom: 20px;
}

.ArticleTitle {
  font-family: "roboto", serif;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.Sort {
  font-family: "roboto", sans-serif;
}

.Form {
  font-size: 22px;
  margin: 5px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.Form:focus {
  background-color: silver;
  outline: black 1px;
}

.Select {
  font-size: 22px;
  margin: 5px;
  padding: 2px;
  color: black;
  text-transform: uppercase;
  outline: black 1px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.Select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: black 2px;
}

.Option {
  outline: black;
  border-radius: 5px;
}

.Option:focus {
  background-color: silver;
  color: rgba(59, 153, 252, 0.7);
}
.SingleArticle {
  border: 2px solid yellow;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background: #f0f0f0;
}
.CommentsList {
  padding: 5px;
}
.CommentsHeaders {
  font-family: "roboto", serif;
  font-size: 30px;
  padding: 5px;
  margin: 10px;
}

.CommentCard {
  border: 2px solid rgba(59, 153, 252, 0.7);
  padding: 10px;
  margin: 0px;
  background: #f0f0f0;
  border-radius: 5px;
}

.CommentForm {
  margin: 10px;
}

.CommentInput {
  width: 92vw;
  height: 10vw;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  outline: black 2px;
}

.CommentInput {
  width: 92vw;
  height: 10vw;
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  outline: black 2px;
}

.DeleteButton {
  font-family: "Open Sans", sans-serif;
  float: right;
  font-size: 20px;
  border: 2px solid grey;
  border-radius: 5px;
  outline: black 2px;
  margin: 5px;
}

.VoteForm {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 2px solid rgba(59, 153, 252, 0.7);
  border-radius: 5px;
  background: white;
  width: 320px;
  margin-left: auto;
}

.VoteButton {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border-radius: 5px;
}

.VoteButton:focus {
  outline: 1px solid black;
}

.SubmitButton {
  font-size: 20px;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.DisplayVotes {
  margin: 10px;
  font-size: 20px;
}

.Submitbutton:focus {
  border: 1px solid yellow;
}

.UserMessage {
  font-family: "roboto", serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 40px;
}
