@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:regular,bold,italic&subset=latin,latin-ext");

.App {
  font-family: "Open Sans", sans-serif;
}
h3,
h4 {
  font-family: "roboto", sans-serif;
}
.Header {
  font-family: "roboto", serif;
  display: flex;
  text-align: center;
  font-size: calc(50px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  background-color: #274472;
  color: white;
}

.Nav {
  background: #c3e0e5;
}

.UserDisplay {
  margin: 20px 0px 10px;
  color: black;
}
.TopicsButtonsContainer {
  display: flex;
  background-color: #f0f0f0;
  padding-bottom: 10px;
}

.AllTopicsButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AllTopicsButtons a {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .AllTopicsButtons {
    flex-direction: row;
    justify-content: space-between;
  }
}
.TopicsButton {
  background-color: #f0f0f0;
  margin-top: 5px;
  padding-top: 5px;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  border: none;
  cursor: pointer;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .AllTopicsButtons a {
    width: auto;
  }
  .TopicsButton {
    width: auto;
  }
}
.TopicsButton:focus {
  margin-left: -6px;
  border-top: none;
  border-left: 6px solid #41729f;
  outline: none;
  text-decoration: none;
}
@media screen and (min-width: 576px) {
  .TopicsButton:focus {
    margin-top: -5px;
    border-top: 6px solid #41729f;
    border-left: none;
    margin-left: 0px;
  }
}

.ArticleCard {
  padding: 25px;
  background: #f0f0f0;
  border-radius: 5px;
  color: #000;
  margin-bottom: 20px;
}
.ArticleCardInner {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .ArticleCard,
  .SingleArticle {
    padding: 20px 40px;
  }
}

.Sort {
  font-family: "roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}

.SortForms {
  margin-bottom: 10px;
}

h3 {
  color: #000;
  font-family: "roboto", sans-serif;

  font-size: 32px;
  line-height: 42px;
}

.Form {
  font-size: 22px;
  margin: 5px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.Form:focus {
  background-color: silver;
  outline: black 1px;
}

.Select {
  font-size: 22px;
  margin: 5px;
  padding: 2px;
  color: black;
  text-transform: uppercase;
  outline: black 1px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.Select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: black 2px;
}

.Option {
  outline: black;
  border-radius: 5px;
}

.Option:focus {
  background-color: silver;
  color: rgba(59, 153, 252, 0.7);
}

.SingleArticle {
  border-radius: 5px;
  background: #f0f0f0;
  padding: 20px;
}

.CommentsHeaders {
  font-family: "roboto", sans-serif;
  font-size: 30px;
  margin: 30px 0 15px;
}

.CommentCard {
  padding: 15px;
  background-color: #41729f;
  color: white;
}

.InsetBorder {
  padding-bottom: 15px;
  border-bottom: 2px solid #f0f0f0;
}

.CommentForm {
  margin: 10px;
}

.CommentInput {
  background-color: #f0f0f0;
  min-height: 100px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 5px;
  flex: 1;
  border: 3px #41729f solid;
}

.DeleteButton {
  font-family: "Open Sans", sans-serif;
  float: right;
  font-size: 20px;
  border: 2px solid grey;
  border-radius: 5px;
  outline: black 2px;
  margin: 5px;
  line-height: 30px;
  padding: 5px 15px;
  background-color: #f4acb7;
  border: 4px solid red;
  cursor: pointer;
}

.VoteForm {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: white;
  margin-left: auto;
  border: 5px solid #c3e0e5;
  margin-top: 35px;
}
@media screen and (min-width: 576px) {
  .VoteForm {
    flex-direction: row;
    justify-content: flex-end;
    max-width: 340px;
  }
}
.UpVoteButton {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  background-color: #41729f;
  border: 3px solid #41729f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-weight: 600;
  height: 40px;
  cursor: pointer;
}
.DownVoteButton {
  font-size: 20px;
  border: 3px solid #41729f;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  color: #41729f;
  font-weight: 600;
  height: 40px;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .UpVoteButton {
    height: 50px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
  }
  .DownVoteButton {
    height: 50px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
  }
}
.DownVoteButton:disabled {
  opacity: 50%;
}

.UpVoteButton:disabled {
  opacity: 50%;
}

.DownVoteButton:focus {
  outline: none;
}

.UpVoteButton:focus {
  outline: none;
}

.SubmitButton {
  font-size: 20px;
  width: 115px;
  height: 50px;
  line-height: 30px;
  padding: 5px 15px;
  border: 3px solid #41729f;
  border-radius: 4px;
  background-color: white;
  color: #41729f;
  font-weight: 600;
  cursor: pointer;
}

.DisplayVotes {
  margin: 10px;
  font-size: 20px;
  line-height: 30px;
  white-space: nowrap;
  color: #000;
}

.UserMessage {
  font-family: "roboto", serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 40px;
}

.commentInputForm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
